* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
@keyframes move {
  10% {
  }
  25% {
    margin: -16px 0 0 0;
  }
  50% {
    margin: -10px 0 0 -16px;
  }
  75% {
    margin: 10px 0 0 -16px;
  }
  90% {
  }
}
.preview {
  position: relative;
}
.naodai {
  position: relative;
}
.head {
  height: 268px;
  width: 280px;
  border: 2px solid black;
  background: rgb(5, 165, 215);
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -140px;
  border-radius: 50%;
}
.face {
  border: 2px solid black;
  width: 246px;
  height: 232px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 70px;
  margin-left: -123px;
}
.mouse-wrapper {
  height: 140px;
  width: 230px;
  overflow: hidden;
  position: absolute;
  top: 155px;
  left: 50%;
  margin-left: -115px;
}
.mouse {
  height: 700px;
  width: 200px;
  border-radius: 270px/378px;
  top: -576px;
  left: 50%;
  margin-left: -100px;
  background: rgb(209, 5, 44);
  border: 2px solid black;
  position: absolute;
  overflow: hidden;
}
.mouse-wrapper > .mouse > .tongue {
  width: 90px;
  height: 40px;
  border: 2px solid black;
  border-top: transparent;
  z-index: 2;
  border-radius: 0 0 100px 100px;
  background: rgb(244, 83, 2);
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -45px;
}

.mouse-wrapper > .mouse > .tongue::before {
  content: "";
  display: block;
  height: 30px;
  width: 40px;
  border: 2px solid black;
  border-right: transparent;
  border-bottom: transparent;
  border-top-left-radius: 80px 50px;
  transform: rotate(45deg);
  background: rgb(244, 83, 2);
  position: absolute;
  top: -16px;
  right: 3%;
}
.mouse-wrapper > .mouse > .tongue::after {
  content: "";
  display: block;
  height: 30px;
  width: 40px;
  border: 2px solid black;
  border-left: transparent;
  border-bottom: transparent;
  border-top-right-radius: 90px 50px;
  transform: rotate(-45deg);
  background: rgb(244, 83, 2);
  position: absolute;
  top: -16px;
  left: 3%;
}
.eye {
  width: 56px;
  height: 64px;
  border-radius: 50%;
  background: white;
  border: 2px solid black;
  position: absolute;
  top: 42px;
}
.smallEye {
  border: 2px solid #000;
  width: 16px;
  height: 24px;
  position: absolute;
  top: 20px;
  margin-left: -8px;
  background: #2e2e2e;
  border-radius: 50%;
  animation: move 3s linear infinite;
  transform-origin: 50% 100%; ////这一行
}
.smallEye::before {
  content: "";
  display: block;
  border: 3px solid #000;
  width: 10px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: 0px;
}
.eye.left {
  right: 50%;
}
.eye.left > .smallEye {
  left: 70%;
}
.eye.right {
  left: 50%;
}
.eye.right > .smallEye {
  left: 30%;
}
.eye.left > .smallEye::before {
  left: 3px;
}
.eye.right > .smallEye::before {
  left: -1px;
}
.nose {
  border: 2px solid black;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 94px;
  margin-left: -18px;
  border-radius: 50%;
  background: rgb(212, 3, 41);
}
.nose::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 22%;
  left: 10%;
}
.lip.right {
  border: 2px solid black;
  border-left: transparent;
  border-top: transparent;
  width: 120px;
  height: 40px;
  background: #fff;
  border-bottom-right-radius: 33px 30px;
  transform: rotate(8deg);
  position: absolute;
  top: 124px;
  right: 50%;
  margin-right: -120px;
}
.lip.right::after {
  content: "";
  display: block;
  height: 20px;
  width: 38px;
  top: -51%;
  left: 69.4%;
  border: 2px solid black;
  border-left: transparent;
  border-bottom: transparent;
  border-top-right-radius: 20px 20px;
  transform: rotate(0deg);
  background: #fff;
  position: absolute;
}
.lip.left {
  border: 2px solid black;
  border-right: transparent;
  border-top: transparent;
  width: 120px;
  height: 40px;
  background: #fff;
  border-bottom-left-radius: 33px 30px;
  transform: rotate(-8deg);
  position: absolute;
  top: 124px;
  left: 50%;
  margin-left: -120px;
}
.lip.left::after {
  content: "";
  display: block;
  height: 20px;
  width: 38px;
  border: 2px solid black;
  border-right: transparent;
  border-bottom: transparent;
  border-top-left-radius: 20px 20px;
  transform: rotate(0deg);
  background: #fff;
  position: absolute;
  top: -51%;
  right: 69.4%;
}
.upperLip {
  height: 24px;
  width: 0;
  background: #000;
  border: 1px solid black;
  border-radius: 25%;
  position: absolute;
  top: 130px;
  left: 50%;
}
.beard {
  height: 1px;
  width: 57px;
  background: #000;
  position: absolute;
}
.beard.right1 {
  top: 115px;
  right: 50%;
  margin-right: -80px;
  transform: rotate(-16deg);
}
.beard.right2 {
  width: 80px;
  top: 135px;
  right: 50%;
  margin-right: -105px;
}
.beard.right3 {
  width: 70px;
  top: 150px;
  right: 50%;
  margin-right: -90px;
  transform: rotate(10deg);
}
.beard.left1 {
  top: 115px;
  left: 50%;
  margin-left: -80px;
  transform: rotate(16deg);
}
.beard.left2 {
  width: 80px;
  top: 135px;
  left: 50%;
  margin-left: -105px;
}
.beard.left3 {
  width: 70px;
  top: 150px;
  left: 50%;
  margin-left: -90px;
  transform: rotate(-10deg);
}

/* 这里是铃铛 */
.neck {
  width: 170px;
  height: 20px;
  background-color: rgb(182, 0, 23);
  border: 2px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 282px;
  left: 50%;
  margin-left: -85px;
  z-index: 4;
}
.neck > .bell {
  height: 40px;
  width: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #f9f12a;
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -20px;
}
.neck > .bell > .bellTongue {
  width: 12px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -6px;
}
.neck > .bell ::after {
  content: "";
  display: block;
  width: 36px;
  height: 2px;
  background-color: #f9f12a;
  border: 2px solid #333;
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -18px;
}
.neck > .bell ::before {
  content: "";
  display: block;
  width: 3px;
  height: 15px;
  background-color: #000;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -1.5px;
}
/* 这是圣体 */
.body {
  width: 200px;
  height: 165px;
  background-color: rgb(5, 165, 215);
  border: 2px solid #333;
  position: absolute;
  left: 50%;
  top: 290px;
  margin-left: -100px;
}
.body .pocket {
  width: 170px;
  height: 140px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50% / 50%;
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -85px;
}
.body .pocket::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background-color: #fff;
  border-radius: 50% / 50%;
  border: 2px solid #000;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -65px;
}
.body .pocket::before {
  content: "";
  display: block;
  width: 130px;
  height: 54px;
  background-color: #fff;
  border: 2px solid #000;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 50% 50% 10% 10%;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -65px;
  margin-top: 20px;
  z-index: 2;
}
/* 手 */
.body .hand {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
}

.body .hand.left {
  left: -64px;
}

.body .hand.right {
  right: -64px;
}

.body .hand.left .arm {
  width: 120px;
  height: 40px;
  background-color: rgb(5, 165, 215);
  border: 1px solid #000;
  z-index: -1;
  position: absolute;
  left: -20px;
  transform: rotate(220deg);
  top: -50px;
}

.body .hand.right .arm {
  width: 80px;
  height: 40px;
  background-color: rgb(5, 165, 215);
  border: 1px solid #000;
  z-index: -1;
  position: absolute;
  top: 0px;
  transform: rotate(25deg);
}

.body .hand .arm::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
}

.body .hand .write {
  width: 20px;
  height: 36px;
  background-color: rgb(5, 165, 215);
  border-radius: 2px;
  position: absolute;
}

.body .hand.left .arm::after {
  left: 100px;
  bottom: -5px;
}

.body .hand.right .arm::after {
  right: -33px;
  bottom: -7px;
}

.body .hand.left .write {
  top: -5px;
  left: 64px;
}

.body .hand.right .write {
  top: -3px;
  right: 60px;
}

/* 脚 */
.footer {
  position: absolute;
}

.footer .foot {
  width: 125px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 80px 60px 60px 40px;
  position: absolute;
  top: 163px;
}
.footer .left {
  left: 50%;
  margin-left: -40px;
}

.footer .right {
  right: 50%;
  margin-right: -240px;
}

.footer .write {
  width: 28px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 60px 60px 0 0;
  border-bottom: none;
  position: absolute;
  top: 144px;
  left: 50%;
  margin-left: 86px;
}
